extends ./common/layout.pug

block content
  - const start = page.pageContents.find(contentBlock => contentBlock.tag === 'start')
  section(class="home text-center d-flex wortelstory")
      div(class="container home-text")
        if (start)
          img(class="img-fluid" src=start.image.url)
          h1(class="scroll-home") Knakwortel
          h2=start.headline
          p=start.body
          a(href="/#story")
            img(class="scroll-home" src="/lib/scroll-down.svg")
  
  section.wortelstory(id="story")
    .container(class="story-container text-center")
      h2 de knakwortel
    
    - const begin = page.pageContents.find(contentBlock => contentBlock.tag === 'begin')
    .container-fluid
      .row
        if (begin)
          .col-md-4.offset-md-1.align-self-center
            h3=begin.headline
            p=begin.body
          .col-md-6.offset-md-1
            img(class="img-fluid story-img" src=begin.image.url alt=begin.image.altText) 

    - const product = page.pageContents.find(contentBlock => contentBlock.tag === 'product')
    .container-fluid
      .row
        if (product)
          .col-md-4.offset-md-1.order-md-2.text-right.align-self-center
            h3=product.headline
            p=product.body
            div(class="d-flex justify-content-between mt-5")
              div(class="icon-div") 
                img(src="/lib/klaar-in-3-min-icon.svg")
                p <small>Klaar in 3 minuten</small>
              div(class="icon-div") 
                img(src="/lib/klaar-in-3-min-icon.svg")
                p <small>100% Plantaardig</small>
              div(class="icon-div") 
                img(src="/lib/barbecue-icon.svg")
                p <small>Ook voor op de barbecue</small>
          .col-md-6.order-md-1
            img(class="img-fluid story-img" src=product.image.url alt=product.image.altText)

    - const boer = page.pageContents.find(contentBlock => contentBlock.tag === 'boer')
    .container-fluid
      .row
        if (boer)
          .col-md-4.offset-md-1.align-self-center
            h3=boer.headline
            p=boer.body
          .col-md-6.offset-md-1
            img(class="img-fluid story-img" src=boer.image.url alt=boer.image.altText)

    - const mand = page.pageContents.find(contentBlock => contentBlock.tag === 'mand')
    div
      if (mand)
        img(class="img-fluid img-block" src=mand.image.url alt=mand.image.altText)


    - const fabriek = page.pageContents.find(contentBlock => contentBlock.tag === 'fabriek')
    .container-fluid
      .row
        if (fabriek)
          .col-md-4.offset-md-1.order-md-2.text-right.align-self-center
            h3=fabriek.headline
            p=fabriek.body
          .col-md-6.order-md-1
            img(class="img-fluid story-img" src=fabriek.image.url alt=fabriek.image.altText)
    
    - const ah = page.pageContents.find(contentBlock => contentBlock.tag === 'ah')
    .container-fluid(id="verkrijgbaar")
      .row
        if (ah)
          .col-md-4.offset-md-1.align-self-center
            h3=ah.headline
            - const newBody = ah.body.replace(/\n/g, `<br/>`)
              p !{newBody}
            a(href="/winkelzoeker")
              button(class="btn btn-outline") Verkooplocaties
            div.mt-3
              p <a class="link" href="https://www.ah.nl/producten/product/wi443461/knakwortel" target="_blank">Bestel online bij Albert Heijn</a>
              p <a class="link" href="https://www.hanos.nl/nl/" target="_blank">Bestel online bij Hanos</a>
          .col-md-6.offset-md-1
            img(class="img-fluid story-img" src=ah.image.url alt=ah.image.altText) 
            
    - const trui = page.pageContents.find(contentBlock => contentBlock.tag === 'trui')
    .container-fluid(id="trui")
      .row
        if (trui)
          .col-md-4.offset-md-1.order-md-2.text-right.align-self-center
            h3=trui.headline
            - const newBody = trui.body.replace(/\n/g, `<br/>`)
              p !{newBody}
            a(href="/trui")
              button(class="btn btn-outline") Bestellen
          .col-md-6.order-md-1
            img(class="img-fluid story-img" src=trui.image.url) 

    - const schap = page.pageContents.find(contentBlock => contentBlock.tag === 'schap')
    div
      if (schap)
        img(class="img-fluid img-block" src=schap.image.url alt=schap.image.altText)

    - const receptenmachine = page.pageContents.find(contentBlock => contentBlock.tag === 'receptenmachine')
    section(id="recepten")
      .container(class="story-container text-center")
        div(class="container my-auto")
          if (receptenmachine)
            h1=receptenmachine.headline
            p=receptenmachine.body
            iframe(src=receptenmachine.iframeUrl frameborder="0" width="100%" height="680" scrolling="no")
  
  //- INSTAGRAM FEED CONTENT BLOK
  section.text-center.my-5(id="instagram")
    .container(class="instagram-container")
      h2 Kijk, dit doen we nog meer 
      h3 Laat ons weten wat jij doet met Knakwortel via <a class="link" href="https://www.instagram.com/explore/tags/knakwortel/" target="_blank">#knakwortel</a>, <a class="link" href="https://www.instagram.com/explore/tags/ofjewortellust/" target="_blank">#ofjewortellust</a> of <a class="link" href="https://instagram.com/knakwortel/" target="_blank">@knakwortel</a>
      div(id="carouselExampleIndicators" data-ride="carousel" data-interval="false" class="carousel slide")
        ol(class="carousel-indicators")
          li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
          li(data-target="#carouselExampleIndicators" data-slide-to="1")
          li(data-target="#carouselExampleIndicators" data-slide-to="2")
        div(class="carousel-inner")
        if (!instaFeed.errno)
          - const shortInstaFeed = instaFeed.slice(0,9)
            div(class="carousel-item active")
              div(class="row justify-content-center text-center text-lg-left py-3")
                div(class="col-lg-3 col-md-4 col-xs-6")
                  a(href="#" class="d-block mb-4 h-100")
                    img(class="img-fluid img-thumbnail" src=(shortInstaFeed[0].node.display_url) alt="First slide")
                div(class="col-lg-3 col-md-4 col-xs-6")
                  a(href="#" class="d-block mb-4 h-100")
                    img(class="img-fluid img-thumbnail" src=(shortInstaFeed[1].node.display_url) alt="Second slide")
                div(class="col-lg-3 col-md-4 col-xs-6")
                  a(href="#" class="d-block mb-4 h-100")
                    img(class=" img-fluid img-thumbnail" src=(shortInstaFeed[2].node.display_url) alt="Third slide")
           
            div(class="carousel-item")
              div(class="row justify-content-center text-center text-lg-left py-3")
                div(class="col-lg-3 col-md-4 col-xs-6")
                  a(href="#" class="d-block mb-4 h-100")
                    img(class="img-fluid img-thumbnail" src=(shortInstaFeed[3].node.display_url) alt="First slide")
                div(class="col-lg-3 col-md-4 col-xs-6")
                  a(href="#" class="d-block mb-4 h-100")
                    img(class="img-fluid img-thumbnail" src=(shortInstaFeed[4].node.display_url) alt="Second slide")
                div(class="col-lg-3 col-md-4 col-xs-6")
                  a(href="#" class="d-block mb-4 h-100")
                    img(class=" img-fluid img-thumbnail" src=(shortInstaFeed[5].node.display_url) alt="Third slide")

            div(class="carousel-item")
              div(class="row justify-content-center text-center text-lg-left py-3")
                div(class="col-lg-3 col-md-4 col-xs-6")
                  a(href="#" class="d-block mb-4 h-100")
                    img(class="img-fluid img-thumbnail" src=(shortInstaFeed[6].node.display_url) alt="First slide")
                div(class="col-lg-3 col-md-4 col-xs-6")
                  a(href="#" class="d-block mb-4 h-100")
                    img(class="img-fluid img-thumbnail" src=(shortInstaFeed[7].node.display_url) alt="Second slide")
                div(class="col-lg-3 col-md-4 col-xs-6")
                  a(href="#" class="d-block mb-4 h-100")
                    img(class=" img-fluid img-thumbnail" src=(shortInstaFeed[8].node.display_url) alt="Third slide")
                    
          a(class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev")
            span(class="carousel-control-prev-icon" aria-hidden="true")
            span(class="sr-only") Previous
          a(class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next")
            span(class="carousel-control-next-icon" aria-hidden="true")
            span(class="sr-only") Next
  
  //- EVENEMENTEN CONTENT BLOCK
  - const evenement = page.pageContents.find(contentBlock => contentBlock.tag === 'evenement')
  section(id="evenement")
    .container-fluid
      .row
        if (evenement)
          .col-md-4.offset-md-1.order-md-2.text-right.align-self-center
            h2=evenement.headline
            p=evenement.body
            img(class="karretje-evenement" src="/lib/KAR_kar-neus rechts.svg")
            p <strong>Ook kun je onze mooie Knakkar huren!</strong>
            a(href="/#")
              button(class="btn btn-outline offerte") Offerte aanvragen
          .col-md-6.order-md-1
            img(class="img-fluid ev" src=evenement.image.url)
          
            
        
  

  - const faqArray = page.pageContents.filter(contentBlock => contentBlock.tag === 'faq')
  section.section.my-5(id="faq")
    .container
      h1.text-center Veelgestelde vragen
      if (faqArray)
        each item in faqArray
          - let id = item.id
          div(class="faq-box my-5")
            a(class="question" data-toggle="collapse" href="#collapseExample" + id role="button" aria-expanded="false" aria-controls="collapseExample")
              div(class="question-wrapper d-flex justify-content-between align-items-center px-3")
                p=item.headline
                img(class="scroll-down" src="/lib/faq-scroll-down.svg")
            div(class="collapse" id="collapseExample"+ id)
              div(class="card p-3")
                p=item.body


          


